@media (max-width: 1920px) {
    .burger {
        display: none;
    }
}
@media (max-width: 1170px) {
    .div-box {
        width: 241.47px;
        height: 242.56px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .p-text {
        text-align: center;
    }
}
@media (max-width: 900px) {
    .text1 {
        font-size: 69px;
    }
    .text2 {
        font-size: 16px;
    }
}
@media (max-width: 890px) {
    
}
@media (max-width: 770px) {
    .navigation {
        display: flex;
        justify-content: space-between;
        margin-right: 15px;
        margin-left: 15px;
    }
    .nav-box {
        display: none;
    }
    .burger {
        display: block;
    }
    .text1 {
        font-size: 50px;
    }
    .text2 {
        font-size: 13px;
    }
}
@media (max-width: 538px) {
    .div-line {
        margin: 0 auto;
    }
    .text1 {
        font-size: 40px;
    }
    .text2 {
        font-size: 9px;
    }
}
@media (max-width: 410px) {
    .text1 {
        font-size: 32px;
    }
    .text2 {
        font-size: 6px;
    }
}